.card-title{
    text-shadow: 0 0 20px black, 0 0 20px black, 0 0 20px black, 0 0 20px black;
    font-size:larger;
}

.card-text{word-wrap: break-word; }

h5 {font-size: 200%;}

.hover{
    display: none;
    background:white;
    position: absolute;
}